# Cleaning and Preprocessing Data for Machine Learning

### Importing Libraries for Data Manipulation and Cleaning

In [1]:
import pandas as pd
import numpy as np

### Verify Contents

In [2]:
## Loading Sample Dataset
import seaborn as sns
df = sns.load_dataset('iris')

In [3]:
## Quickly check contents of dataset
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
## Check for missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [5]:
## Get a sense for our dataset using descriptive statistics
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
## Define Column names
column_names = df.columns
print(column_names)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [7]:
## Check datatype of columns
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [8]:
## Check if columns are unique
for i in column_names:
    print('{} is unique: {}'.format(i, df[i].is_unique))

sepal_length is unique: False
sepal_width is unique: False
petal_length is unique: False
petal_width is unique: False
species is unique: False

In [9]:
## Check for Index and Set Index
df.index.values
# df.set_index('column_name', inplace=True)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149], dtype=int64)

In [10]:
## Dropping columns
# columns_to_drop = [column_names[i] for i in [1,2,3]]
# df.drop(columns_to_drop, inplace=True, axis=1)

### Missing Data

In [11]:
## Creating Dataset with NaN
df1 = pd.DataFrame(data={'col1':[4, np.nan, 5,6,7, np.nan, np.nan,8], 'col2':[9, 13, np.nan, 8, np.nan, 29, np.nan, 12], 'col3':['A','B','C', np.nan, np.nan, np.nan, np.nan, np.nan]})

In [12]:
df1.head()

   col1  col2 col3
0   4.0   9.0    A
1   NaN  13.0    B
2   5.0   NaN    C
3   6.0   8.0  NaN
4   7.0   NaN  NaN

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
col1    5 non-null float64
col2    5 non-null float64
col3    3 non-null object
dtypes: float64(2), object(1)
memory usage: 272.0+ bytes

In [14]:
## Calculating Mean and Median of columns
mean = df1.mean()
median = df1.median()

In [15]:
## Method One: Drop Missing Values
## Drop all NaNs
df1.dropna()
## Drop based on Threshold. Requires 50% or more non-NaN values in Column
df1.dropna(thresh=int(df1.shape[0] * 0.5), axis=1)

   col1  col2
0   4.0   9.0
1   NaN  13.0
2   5.0   NaN
3   6.0   8.0
4   7.0   NaN
5   NaN  29.0
6   NaN   NaN
7   8.0  12.0

In [16]:
## Method Two: Fill Missing Values
## Numerical Data (By Mean or Median)
df1.fillna(mean, inplace=True)
df1

   col1  col2 col3
0   4.0   9.0    A
1   6.0  13.0    B
2   5.0  14.2    C
3   6.0   8.0  NaN
4   7.0  14.2  NaN
5   6.0  29.0  NaN
6   6.0  14.2  NaN
7   8.0  12.0  NaN

In [17]:
## Categorical Data
df1['col3'].fillna('D', inplace=True)
df1

   col1  col2 col3
0   4.0   9.0    A
1   6.0  13.0    B
2   5.0  14.2    C
3   6.0   8.0    D
4   7.0  14.2    D
5   6.0  29.0    D
6   6.0  14.2    D
7   8.0  12.0    D

### Duplicate Data

In [18]:
## Creating Dataset with Duplicates
df2 = pd.DataFrame([['A', 1, 2, 3], ['B', 1 ,2, 3], ['C', 1, 2, 3], ['B', 1, 2, 3], ['A', 1, 0, 3], ['C', 1, 0, 1]], columns=['First', 'Second',' Third','Fourth'])
## Drop Duplicate Rows
df2.drop_duplicates()

  First  Second   Third  Fourth
0     A       1       2       3
1     B       1       2       3
2     C       1       2       3
4     A       1       0       3
5     C       1       0       1

### Conditional Data Cleaning

In [19]:
df['New Column'] = np.where((df['sepal_length'] > 5) & (df['sepal_width'] > 3), True, False)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  New Column
0           5.1          3.5           1.4          0.2  setosa        True
1           4.9          3.0           1.4          0.2  setosa       False
2           4.7          3.2           1.3          0.2  setosa       False
3           4.6          3.1           1.5          0.2  setosa       False
4           5.0          3.6           1.4          0.2  setosa       False

### Frequency and Distribution

In [20]:
## Check for Frequency and Distribution
df['species'].value_counts()

virginica     50
setosa        50
versicolor    50
Name: species, dtype: int64

In [21]:
df['New Column'].value_counts()

False    103
True      47
Name: New Column, dtype: int64

In [22]:
df['petal_width'].value_counts(ascending=True)

0.5     1
0.6     1
1.7     2
1.1     3
2.4     3
2.2     3
2.5     3
1.6     4
1.9     5
1.2     5
0.1     5
2.1     6
2.0     6
0.4     7
0.3     7
1.0     7
2.3     8
1.4     8
1.8    12
1.5    12
1.3    13
0.2    29
Name: petal_width, dtype: int64